.App {
  text-align: center;
    
}
.contain {
  display: grid;
  grid-column: auto auto;
  grid-auto-rows: 50px;  
  align-items: center;
}
label {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: right;  
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  font-size: large ;  
}
#app {
  color: blue;
  font-size: xx-large ;  
}
input {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 23px;
  width: 300px;
  border-color: black;
}
#myLetter {
  color: blueviolet;
  font-weight: bold;
  font-size: x-large;
}